*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.team-section{
    overflow: hidden;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(camera.png);
    padding: 60px;
}
.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: white;
    margin-bottom: 40px;
}
.pictures{
    margin-bottom: 40px;
}
.pictures a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}
.pictures a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.pictures a:hover > img{
    filter: none;
}
.sektori{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}
.sektori:target{
    height: auto;
}
.emri{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
